

<h1>Teacher</h1>

<button class="btn btn-success" onclick="GetModal(event)">Add Teacher</button>
<table id="example" class="table table-striped" style="width:100%">

</table>

<partial name="_modal" />

@section scripts {

    <script>
        var myModal = new bootstrap.Modal(document.getElementById('myModal'), {
            keyboard: false
        })
        $(document).ready(function () {
        })

        function LoadData() {
            $.get("/cp/Role/GetRoles", function (data) {
                $("#example").html(data);
                $('#example').DataTable();
            });
        }
        function Delete(e) {
            $(e.currentTarget).closest('.row').remove();
        }

        function GetModal(e) {
            $.get("/Teacher/GetModal", function (data) {
                $("#modalBody").html(data);
                $('.multipleSelect').fastselect();
                myModal.show();
            });
        }

        var count = 1;
        function Add(e) {
            debugger
            var options = $("#multipleSelect option").clone();

            var optionElements = '';
            options.each(function () {
                optionElements += $('<div>').append($(this).clone()).html();
            });
            var pattern = ` 
                                                 <div class="row">
                                                        <div class="col-sm-10">
                                                            <div class="form-floating mb-3">
                                                                <input type="text" class="form-control" id="fullName" name="lstViewModel[${count}].FullName">
                                                                <label for="floatingInput">Full Name</label>
                                                            </div>
                                                            <div class="form-floating mb-3">
                                                              <select class="multipleSelect" multiple name="lstViewModel[${count}].IdStudents">
                                                                    ${optionElements}
                                                            </select>
                                                            </div>
                                                        </div>

                                                        <div class="col-sm-2">
                                                            <input type="button" value="Delete" onclick="Delete(event)" class="btn btn-warning">
                                                        </div>
                                                    </div>`;

            $(e.currentTarget).closest('form').append(pattern);

            $('.multipleSelect').fastselect();

            count++;
        }

    </script>
}
